{% extends "@templates/base.html" %}

    {% block title %}Parsing{% endblock %}
    {% block addon %}
        <form class="form-inline float-xs-right">
            <input class="form-control" type="text" placeholder="URL">
            <button class="btn btn-outline-success" type="button">Upload</button>
        </form>
    {% endblock %}

{% block content %}

<div class="container-fluid">
    <iframe src=""></iframe>
    <div class="col-xs-6"><strong>Selector</strong></div>
    <div class="col-xs-6"><strong>Result</strong></div>
    <div class="col-xs-6 selector"></div>
    <div class="col-xs-6 result"></div>
</div>

{% endblock %}